/*CLASES REUTILIZABLES
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}  */

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

body {
  font-size: 16px;
  line-height: 1.71429;
  font-weight: bold;
  font-family: raleway, sans-serif, "Helvetica Neue", 
               Helvetica, Arial
}

div {
  border-style: none; 
  border-width:0px; 
  margin:0px; 
  padding:25px; 
  background-color: none;
}

                              /*encabezado fijo*/
#encabezado {
  width: 1248px;
  height: 0px; 
  background-color:#FFF;
  text-align:right;
  border: none;
  margin-left: -8px;
  margin-top: -7px;
  position: relative;
  display: inline-block;
  text-align: left;
  position: fixed;
 }

#menu a {
  position: relative;
  font-size: bolder;
  margin-left: 110px;
  font-size: bolder;

}

a {
  color: #000;
  text-decoration: none;
  margin-left: 55px;
}

#img_logo_encabezado {
  text-align: right;
  position:absolute;
  display:inline;
  float: right;    
}
                                  /*fin encabezado*/

                  /*fondo stamp con letras y boton*/
#img_bg_home {
  position:absolute;
  display:block;
  background-size: 55%
}

#found {
  position: absolute;
  display: block;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}

#found h2 {
  margin-top: 90px;
  margin-left: 215px;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

#found h1 {
  margin-top: 45px;
  margin-left: 210px;
  display: block;
  font-size: 50px;
}

#found p {
  margin-top: -38px;
  margin-left: 240px;
  display: block;
  font-size: 15px;
  font-weight: lighter;
  opacity: 0.7;
}

span.botton {
  background: #2ECC71; 
  padding: 1.8%;
  font-size: 13px;
  margin-left: 250px;
  line-height: 150px;
}
                                    /*"zona rosa"*/
#pink {
  height: 655px;
  width: 1247px;
  background: #F17C72;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 554px;
  display: block;
  text-align: center;
}
                                  /*texto services*/
#pink h2{
  color: #FFF;
  font-size: 30px;
  letter-spacing: 0.5px;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: 45px;
  text-transform: uppercase;
}

#pink h4{
  color: #FFF;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 30px;
  margin-top: 50px;
}
               /*vienen tres (3) imágenes redondas*/
#user{
  margin-left: -720px;
  margin-top:  60px;
}

#user h5{
  color: #FFF;
  text-transform: uppercase;
}

#user h6{
  color: #FFF;
  line-height: 0%
}
                        /*texto imágenes redondas*/
#concept {
  margin-left: 30px;
  margin-top:  -396px;
  }

#concept h5 {
  color: #FFF;
  text-transform: uppercase;
}

#concept h6{
  color: #FFF;
  line-height: 0%
}

#dgn_brand{
  margin-left: 800px;
  margin-top:  -398px;
}

#dgn_brand h5 {
  color: #FFF;
  text-transform: uppercase;
}

#dgn_brand h6{
  color: #FFF;
  line-height: 0%
}
                                    /*zona blanca*/
#white {
  height: 1285px;
  width: 100%;
  background: #FFF;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 554px;
  display: block;
  text-align: center;
  border solid #000;
  }
  #white h2{
  color: #000;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bolder;
  margin-left: -10px;
  margin-top: -520px;
  text-transform: uppercase;
  }

  #white h4 {
  color: #342D2D;
  border-color: 10px;
  font-size: 16px;
  margin-left: 10px;
  margin-top: -0px;
  font-weight: bolder;

  }

  #laptop {
  margin-left: 240px;
  margin-top:  1px;
  display: block;
  position: absolute;
  }
                              /*malla imágenes (9)*/
  #img_1{
  margin-left: -93px;
  margin-top: 0px; 
  position: absolute; 

  }

  #img_1 h1 {
  color: #292929;
  margin-top: 220px;
  margin-left: 0px;
  font-size: 15px;
  font-weight: bolder;
  }

  #img_2{
  margin-left: 10px;
  margin-top:  -23px; 
  }

  #img_2 h1 {
  color: #292929;
  margin-top: 12px;
  margin-left: 0px;
  font-size: 15px;
  font-weight: bolder;
  } 

  #img_3{
  margin-left: 555px;
  margin-top: -309px; 
  position: absolute; 
  }

  #img_3 h1 {
  color: #292929;
  margin-top: 12px;
  margin-left: 0px;
  font-size: 15px;
  font-weight: bolder;
  }

  #img_4 {
  margin-left: -675px;
  margin-top: 15px; 
  position: absolute; 
  }

  #img_4 h1 {
  color: #292929;
  margin-top: 16px;
  margin-left: 0px;
  font-size: 15px;
  font-weight: bolder;
  }

  #img_5 {
  margin-left: 300px;
  margin-top: -290px; 
  position: absolute;
  }

  #img_5 h1 {
  color: #292929;
  margin-top: 16px;
  margin-left: 0px;
  font-size: 15px;
  font-weight: bolder;
  }

  #img_6 {
  margin-left: 300px;
  margin-top: -290px; 
  position: absolute;
  }

  #img_6 h1{
  color: #292929;
  margin-top: 16px;
  margin-left: 0px;
  font-size: 15px;
  font-weight: bolder;
  }

  #img_7 {
  margin-left: -683px;
  margin-top: 15px; 
  position: absolute; 
  }

  #img_7 h1 {
  margin-left: 45px;
  margin-top: 15px; 
  position: absolute; 
  }

  #img_8 {
  margin-left: 303px;
  margin-top: -242px; 
  position: absolute;
  }

  #img_8 h1 {
  margin-left: 40px;
  margin-top: 15px; 
  position: absolute; 
  }

  #img_9 {
  margin-left: 300px;
  margin-top: -242px; 
  position: absolute;
  }

  #img_9 h1{
  color: #292929;
  margin-top: 15px;
  margin-left: 40px;
  font-size: 15px;
  font-weight: bolder;
  }
                                        /*footer*/
  #rectangulo {
  left: 0px;
  bottom:-2650px;
  height:30px;
  width: 1270px;
  background:#535353;
  position: absolute;
  margin-top: 20px;
  }

  #rectangulo p{
  color: #FFF;
  font-size: 15px;
  margin-top: 4px;
  opacity: 0.8;
  }